# Application
APP_NAME=DocuMind AI
APP_ENV=development
DEBUG=true

# OpenAI
OPENAI_API_KEY=your_openai_api_key
OPENAI_CHAT_MODEL=gpt-4o-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
OPENAI_TEMPERATURE=0

# AWS S3
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_BUCKET_NAME=your_bucket_name
AWS_REGION=ap-south-1

# Frontend
FRONTEND_URL=http://localhost:5173

# Document Upload
UPLOAD_DIR=uploads
MAX_UPLOAD_SIZE_MB=10

# Local Storage
CHROMA_PERSIST_DIR=vector_db
CHROMA_COLLECTION_NAME=documind_documents
DATABASE_URL=sqlite:///./documind.db